:root {
  --color-main: #FF4200;
  --color-sub: #00A200;
  --color-dark: #2F4858;
  --color-emph: #F10F5F;
  --color-text: #281812;
  --color-lighter: #DC9C86;
  --color-light-bd: #FFE6D6;
  --color-light-bg: #FFF5ED;

  --font-size-title: 44px;
  --font-size-subtitle: 32px;
  --font-size-tag: 26px;
  --font-size-larger: 20px;
  --font-size-text: 18px;

  --height-toolbar: 72px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}

.intro {
  position: relative;
  height: 100vh;
  background-image: url(../resources/intro-bg.jpg);
  background-size: cover;
  background-position: center;
}

/* 배경 이미지를 반투명 검정으로 가리기 */
.intro__dark {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.67);
}

.intro__type {
  display: inline-flex;
  margin-top: 36vh;
  gap: 0.32em;
  flex-direction: column;
  text-align: left;
  font-family: var(--font-nanum-gothic), sans-serif;
  font-size: 2.8em;
  font-weight: bold;
  color: white;
}

@keyframes blink {
  0% { opacity: 0;}
  100% { opacity: 1;}
}

.underscore {
  animation: blink 0.35s linear infinite alternate;
}

div[class^="intro__tilt"] {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: var(--color-main);
  clip-path: polygon(100% 90%, 100% 100%, 0 100%, 0 0);
}

div.intro__tilt--flip {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 90%);
  opacity: 0.5;
}

/* 태블릿 & 데스크탑 */
@media (min-width: 768px) {
  .intro {
    height: 500px;
  }

  .intro__type {
    flex-direction: row;
    margin-top: 172px;
    align-items: center;
  }

  .intro__type span {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.25em;
  }
}